
.row1{
    display:flex;
    gap: 180px;
    margin:160px;
    height:320px;
    width:1200px;

   
}
.row2{
    display:flex;
    justify-content:space-around;
    width:1200px;
    padding:70px;
    font-size: 14px;
    font-weight: 300;
   
    line-height:17px;

}
.row3{
    display:flex;
    justify-content:space-around;
  margin-top:30px;
}


.text-muted{

    font-size: 15px;
    font-weight:600;
    line-height:18px;
    color: #808080;


}
.col-lg-3{
height:319px;
width:300px;


}