.list_style_none {
  list-style: none;
}

.overflow_scroll {
  overflow-x: hidden;
  overflow-y: scroll; 
}


::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 0px ;  */
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}



